/* .card {
  margin-top: 16px;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
} */

.card {
  margin-top: 16px;
  padding: 16px;
  border: 1px solid #ddd;
}

.title {
  color: navy;
}

.highlighted {
  background: #f0f0f0;
}